body{
    background-color: #faf5f3;
}

p{
    margin: 0;
}


.reviews-row{
    margin-top:50px;
}


.review-title{
    margin-top: 100px;
}

.review-item-row{
    margin-top:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /*border: 1px #abb2b9 solid;*/
    border-radius: 10px;
}

.review-image {
    width: 100%;
    border-radius: 50%;
    min-width: 40px;
    max-width: 70px;
}

.profile-bio-row{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    min-height: 100px;
}

.author-col,
.text-col {
    padding: 0;
}

.author{
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.book-card{
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card-img-top{
    border-radius: 15px;
    margin-bottom: 10px;
    /*object-fit: cover;*/
}

.book-list-row{
    margin-top:0;
}

.col{
    margin-bottom: 10px;
}

.card{
    border: none;
}

.card-body{
    padding:0;
}

.card-title{
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
}

@media (max-width: 420px) {
    .review-image{
        display: none;
    }

    .image-col{
        display: none;
    }

    p, .author{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    p, .author{
        margin-left: 10px;
        margin-right: 10px;
    }
}
